+++
title = "CD Foundation Melhores Práticas"
linkTitle = "Melhores Práticas"

+++

{{< blocks/cover title="Continuous Delivery Melhores Práticas" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/learn/overview" >}}">
		Saiba Mais <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>

Aprenda como as melhores práticas de entrega contínua podem ajudar você a desenvolver, construir e entregar software de forma mais rápida, confiável e segura.

{{< /blocks/cover >}}

{{< blocks/section color="dark" type="row">}}

{{% blocks/feature icon="fa-tasks" title="Avalie" url="learn/assess" %}}
Avalie o seu momento atual e identifique as mudanças a serem priorizadas.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book-open" title="Aprender" url="/learn" %}}
Aprenda sobre as melhores práticas de entrega contínua.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-users" title="Comunidade" url="/community" %}}
Explore as formas como os membros da comunidade implementam as melhores práticas.
{{% /blocks/feature %}}

{{< /blocks/section >}}
