+++
title = "CD Foundation Best Practices"
linkTitle = "Best Practices"

+++

{{< blocks/cover title="Continuous Delivery Best Practices" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/learn/overview" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>

Learn about how best practices for continuous delivery can help you to develop, build, and deliver software faster, more reliably, and more securely.

{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-tasks" title="Assess" url="learn/assess" %}}
Assess your current state and identify changes to prioritize.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book-open" title="Learn" url="/learn" %}}
Learn about continuous delivery best practices.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-users" title="Community" url="/community" %}}
Explore the ways community members implement best practices.
{{% /blocks/feature %}}

{{< /blocks/section >}}
